/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/roboto-v30-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/roboto-v30-latin-500.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/roboto-v30-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* play-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Play";
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/play-v19-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* play-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Play";
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/play-v19-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* Variable */
:root {
  --colors-primary-light: #ffffff;
  --colors-primary-blue: #2b7fff;
  --colors-primary-dark: #011c44;
  --color-secondary-dark: #4a4a4a;
  --color-secondary-lightdark: #747272;
  --color-secondary: #011f4a;
}
/* Basic */
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  color: var(--colors-primary-dark);
  line-height: normal;
  padding: 0;
  margin: 0;
  background-image: url("../img/bg/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 65%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  font-style: normal;
}
address {
  font-style: normal;
}
.main-title {
  font-family: "Play";
  font-size: 64px;
  font-weight: 700;
  color: var(--colors-primary-dark);
}
.main-title .accent {
  color: var(--colors-primary-blue);
  font-family: "Play";
}
p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
address {
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
}
/* #region header */
.header {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  padding-top: 32px;
  padding-bottom: 32px;
  position: absolute;
  top: 0;
  width: 100%;
}
.header-wrapper {
  display: flex;
  gap: 240px;
}
.haeder-navigation {
  display: flex;
  align-items: center;
  gap: 240px;
}
.header-list {
  display: flex;
  gap: 56px;
  justify-content: space-between;
}
.header-social {
  display: flex;
  gap: 32px;
}
.header-social-icon {
  fill: var(--colors-primary-dark);
}
.header-social-icon:hover {
  fill: var(--colors-primary-light);
}
.link {
  text-decoration: none;
  color: var(--colors-primary-dark);
}
.link:hover {
  color: var(--colors-primary-blue);
}
/* #endregion */
/*#region introduction */
.introduction-section {
  background-image: linear-gradient(
      89deg,
      #fff 30.62%,
      rgba(255, 255, 255, 0.85) 41.31%,
      rgba(255, 255, 255, 0.19) 58.65%,
      rgba(255, 255, 255, 0) 72.78%
    ),
    url(../img/bg/bg_beauty_zone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container-introduction {
  padding-top: 126px;
  padding-bottom: 123px;
  padding-left: 244px;
}
.introduction-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}
.introduction-lable {
  font-family: "Play";
  font-size: 140px;
  font-weight: 700;
  line-height: 0.81;
  text-transform: capitalize;
  color: var(--colors-primary-blue);
  margin-bottom: 40px;
}
.button {
  padding: 16px 32px;
  border-radius: 32px;
  font-weight: 600;
  background-color: var(--colors-primary-blue);
  color: var(--colors-primary-light);
  border: 2px solid transparent;
  margin-bottom: 14px;
}

.button:hover {
  background-color: var(--colors-primary-light);
  border: 2px solid var(--colors-primary-blue);
  color: var(--colors-primary-dark);
}
.introduction-description {
  font-size: 12px;
}
/* #endregion */
/* #region about-us */
.about-us-section {
  padding-top: 96px;
}
.about-us-wrapper {
  display: flex;
  gap: 28px;
}
.about-us-text {
  flex-basis: calc(100% / 2);
}
.about-us-text,
.about-us-img {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.about-us-img-left,
.about-us-img-right {
  border-radius: 100%;
}
.about-us-img {
  width: 610px;
  position: relative;
}
.about-us-img-wrap-lf {
  display: flex;
  justify-content: flex-start;
}

.about-us-img-wrap-rt {
  display: flex;
  justify-content: flex-end;
}
.about-us-img-right {
  align-self: flex-end;
}

.about-us-description > p {
  font-size: 22px;
  line-height: 1.72;
}

.beauty {
  font-weight: 600;
  text-transform: capitalize;
}
.star-large {
  position: absolute;
  top: 344px;
  left: 121px;
}
.star-small {
  position: absolute;
  top: 32px;
  right: 0;
}
.star-medium {
  position: absolute;
  top: 270px;
  right: 33px;
}
/* #endregion */

/* #region why-mi */
.why-mi-section {
  padding-top: 176px;
}
.why-mi-section-title {
  text-align: center;
}
.why-mi-section-wrapper {
  padding: 0 76px;
}
.why-mi-description {
  line-height: 1.33;
}
.why-mi-list {
  display: flex;
  gap: 56px;
}
.why-mi-item {
  border-radius: 32px;
  padding: 24px 32px;
  flex-basis: calc(100% / 3 - 112px / 3);
  background-color: var(--colors-primary-light);
  height: 181px;
}
.why-mi-item > p {
  text-align: center;
}
.why-mi-item-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rotation {
  animation-name: rotation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
/* #endregion */
/* #region our-procedures*/
.our-procedures-section {
  padding-top: 96px;
}
.our-procedures-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.our-procedures {
  display: flex;
  gap: 16px;
  width: 100%;
}
.our-procedures-item {
  position: relative;
  flex-basis: calc(100% / 3 - 32px / 3);
}
.our-procedures-item p {
  width: 152px;
  position: absolute;
  bottom: 32px;
  left: 115px;
  font-size: 22px;
  line-height: 1.18;
  color: var(--colors-primary-light);
}

.our-procedures-img {
  border-radius: 120px 4px;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.73) 84.61%,
    #011c44 101.39%
  );
  display: block;
  width: 100%;
}
.our-procedures-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  flex-shrink: 0;
}
.btn-basis {
  fill: transparent;
  stroke: var(--colors-primary-dark);
  flex-grow: 0;
}
.btn-basis:hover {
  fill: var(--colors-primary-blue);
  stroke: var(--colors-primary-light);
}

/* #endregion */
/*#region contact */
.contacts-section {
  padding: 96px 176px;
}
.contacts-title {
  text-align: center;
  padding-bottom: 48px;
}
.contacts-wrapper {
  display: flex;
  gap: 32px;
  justify-content: center;
}
.contact-card {
  border-radius: 32px;
  flex-shrink: 0;
}
.contacts-form-container {
  width: 423px;
  padding: 48px 57px;
  background-color: var(--colors-primary-dark);
  border-radius: 32px;
}
.contact-politic {
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-secondary-dark);
}
.contact-politic-link {
  text-decoration: underline;
  color: var(--color-secondary-dark);
}
/*#endregion */
/* #region footer */
footer {
  background-color: var(--colors-primary-dark);
  padding: 56px 0;
  position: relative;
}
.footer-wrapper {
  display: flex;
  gap: 186px;
}
.footer-address {
  display: flex;
  gap: 186px;
}
.footer-list,
.footer-address-list,
.footer-address-secur {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-social {
  display: flex;
  gap: 24px;
}
.footer-social-icon {
  fill: var(--colors-primary-light);
  /* stroke: var(--colors-primary-light); */
}

.link-light {
  font-size: 16px;
  color: var(--colors-primary-light);
}
.link-light:hover {
  color: var(--colors-primary-blue);
}
.security {
  font-size: 13px;
  color: var(--color-secondary-lightdark);
}
.footer-social-icon:hover {
  stroke: var(--colors-primary-blue);
}

footer::before {
  content: "";
  width: 247px;
  height: 152px;
  background-image: url("../img/pexels-photo.png");
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* #endregion */

/* #region modal */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 31, 74, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s, visibility 0.2s;
}
.modal {
  position: relative;
  color: var(--colors-primary-light);
  width: 723px;
  height: 681px;
  background-color: var(--colors-primary-dark);
  border-radius: 32px;
  padding: 42px 144px;
}
.modal-title {
  font-family: Play;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 40px;
}
.modal-description {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 32px;
  color: var(--colors-primary-light);
}
.accent {
  color: var(--colors-primary-blue);
}
.modal-btn-close {
  position: absolute;
  right: 42px;
  top: 42px;
  width: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.is-hidden {
  /* display: none; */
  opacity: 0;
  visibility: 0;
  pointer-events: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.form-container-contact {
  gap: 16px;
}
.form-button {
  padding: 16px 32px;
  background-color: var(--colors-primary-blue);
  border-radius: 32px;
  border: none;
  color: var(--colors-primary-light);
  width: fit-content;
  align-self: center;
  margin-bottom: 0;
  border: 2px solid var(--colors-primary-blue);
}

.contacts-form-el {
  width: 100%;
  max-width: 310px;
  height: 52px;
  border-radius: 32px;
  border: 2px solid var(--color-secondary-lightdark);
  background-color: transparent;
}
.contacts-form-el:focus {
  background-color: var(--color-secondary-lightdark);
}
.contacts-form-el::placeholder {
  color: var(--colors-primary-light);
  font-size: 13px;
  padding-left: 32px;
}
.form-politic {
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  margin-top: 8px;
}
/* #endregion */
